@inject ToastService ToastService
@using Allegro.Admin.Models
@implements IDisposable

<div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 9999;">
    @foreach (var toast in ToastService.Toasts)
    {
        <div class="toast show align-items-center text-white @toast.CssClass border-0 mb-2 shadow" role="alert" style="width: auto">
            <div class="d-flex">
                <div class="toast-body fw-bold">
                    @toast.Message
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" 
                        @onclick="() => Remove(toast)"></button>
            </div>
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        ToastService.OnChanged += Refresh;
    }

    public void Dispose()
    {
        ToastService.OnChanged -= Refresh;
    }

    private void Refresh()
    {
        InvokeAsync(StateHasChanged);
    }

    private void Remove(ToastMessage toast)
    {
        ToastService.Remove(toast);
    }
}